.input {
  padding: 10px;
  background-color: #f8f8f8;
  margin-right: 12px;
  width: 15%;
  transform: translateX(550px);
  border-radius: 5px;
  margin-left: auto;
  border: none;
}

.heading {
  text-align: center;
  font-size: 30px;
}